<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bgimg-1">
        <div class="caption">
            <span style="width: 50%;" class="border">WELCOME TO CLOSER WALK CHURCH</span>
            <div id="serviceTimes">
                <div id="left">
                    <h1>JOIN US FOR UPCOMING SERVICES</h1>
                    <h3>117-C VILLAGE ROAD</h3>
                    <h3>LELAND NC</h3>
                </div>
                <div id="right">
                    <h2>8:15 AM</h2>
                    <h3>TRADITIONAL SERVICE</h3>
                    <h2>10:30 AM</h2>
                    <h3>CONTEMPORARY SERVICE</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="contentContainer">
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        </div>
    </div>

    <div class="contentContainer">
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        </div>
    </div>

  </body>
</html>