<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bgimg-1">
        <div class="caption">
            <span class="border">WELCOME TO CLOSER WALK CHURCH</span>
        </div>
    </div>

    <div class="contentContainer">
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        </div>
    </div>

    <div class="contentContainer">
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
        </div>
    </div>

  </body>
</html>