html, body {
    font-family: "Lato", sans-serif;
    height: 100%;
    margin: 0;
}

#dskHeader {
    justify-content: space-between;
    padding: 1% 5% 1% 5%;
    height: 8%;
    width: 90%;
    position: fixed;
    background-color: rgba($color: #e7e7e7, $alpha: 0.9);
    z-index: 1;
}

#logo img {
    height: auto;
    width: 80%;
}

.links {
    padding-top: 1.1%;
    font-size: 130%;
    display: block;
}

.links a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    letter-spacing: 3px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c9c9c9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.contract {
	width: 0%;
}

.expand {
	width: 100%;
}

#hamburger {
	cursor: pointer;
    margin-right: 5%;
    margin-top: 5%;
	z-index: 10; 
}

#bar1, #bar2, #bar3 {
	width: 35px;
	height: 5px;
	background-color: rgb(0, 0, 0);
	margin: 6px 0;
	transition: 0.3s;
}

.change #bar1 {
	transform: rotate(-405deg) translate(-9px, 6px);
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
	transform: rotate(405deg) translate(-8px, -8px);
}

#mobileMenu {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .8;
    overflow-x: hidden;
    transition: 0.5s;
}

.menuContent {
	position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#mobileMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

#mobileMenu a:hover, #mobileMenu a:focus {
    color: #f1f1f1;
}

#mobileHeader {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    opacity: .8;
}

@media screen and (min-width: 768px) {
    #dskHeader {display: flex}
    html {font-size: 16px;}
    #hamburger, #mobileMenu {display: none}
}

@media screen and (max-width: 769px) {
    #dskHeader {display: none}
    html {font-size: 8px;}
}