html, body {
    font-family: "Lato", sans-serif;
    height: 100%;
    margin: 0;
}

#dskHeader {
    display: flex;
    justify-content: space-between;
    padding: 1% 5% 1% 5%;
    height: 8%;
    width: 90%;
    position: fixed;
    background-color: rgba($color: #e7e7e7, $alpha: 0.7);
}

#logo img {
    height: auto;
    width: 80%;
}

.links {
    padding-top: 1.1%;
    font-size: 130%;
    display: block;
}

.links a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}