.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;  
  }

.bgimg-1 {
  background-image: url("beachy.png");
  min-height: 90%;
}

.bgimg-2 {
  background-image: url("worshippic.jpg");
  min-height: 90%;
}

.bgimg-3 {
  background-image: url("fieldboy.jpg");
  min-height: 90%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}