.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;  
  }

.bgimg-1 {
  background-image: url("beachy.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("worshippic.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("fieldboy.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#welcome {
  font-size: 300%;
}

#serviceTimes {
  margin: 5% auto 0 auto;
  width: 45%;
  display: flex;
  justify-content: center;
}

#left {
  width: 40%;
  background-color: rgba(255, 0, 0, 0.9);
}

#right {
  width: 60%;
  background-color: rgba(255, 0, 0, 0.6);
  padding-top: 2%;
}

#soundcloud {
  z-index: -1;
}

.contentContainer {
  width: 100%;
  position: relative;
}

#donate {
  margin: 0px auto;
  width: 60%;
  text-align: center;
  padding: 3%;
}

#quote {
  font-size: 300%;
  letter-spacing: 5px;
}

#bible {
  font-size: 125%;
  letter-spacing: 3px;
  margin-top: -3%;
  margin-bottom: 3%;
}

#donate a {
  border: 2px solid black;
  padding: 8px;
  font-size: 200%;
  box-shadow: 5px 5px black;
  text-decoration: none;
  color: black;
  transition: .5s;
}

#donate a:hover {
  background-color: rgb(255, 31, 31);
  color: white;
  box-shadow: none;
  box-shadow: 2px 2px black;
}

.red {
  color: red;
}

#contact {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.884);
  padding-top: 7%;
  padding-bottom: 3%;
  margin-top: 7%;
}

#contact p {
  text-align: center;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
  font-size: 300%;
  letter-spacing: 3px;
  margin-top: -7%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#contact input {
  padding: 5px;
  font-size: 150%;
  letter-spacing: 3px;
  border-radius: 5px;
  border: none;
}

#contact input[type=email] {
  background-color: rgb(167, 0, 0);
  color: white;
  text-align: center;
}

input::placeholder {
  color: white;
  text-align: center;
  opacity: 0.3;
}

#contact input[type=submit] {
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
}

#about {
  padding: 1%;
}

#about h1 {
  text-align: center;
}

#aboutContainer {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 5px;
  font-size: 200%;
  font-weight: normal;
}

#aboutContainer a {
  border: 2px solid black;
  padding: 8px;
  box-shadow: 5px 5px black;
  text-decoration: none;
  color: black;
  transition: .5s;
}

#aboutContainer a:hover {
  background-color: rgb(255, 31, 31);
  color: white;
  box-shadow: none;
  box-shadow: 2px 2px black;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}

@media screen and (min-width: 768px) {
  #contact input[type=submit] {width: 15%;}
  #contact input[type=email] {width: 25%;}
}

@media screen and (max-width: 769px) {
  #welcome {line-height: 2;}
}